<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1><b>TWITTER ANALYTICS TOOL</b></h1>
        <p>We use 1 % to determine what 99 % think or do</p>
    </div>
</div>

<ul class="nav nav-stacked navbar-fixed" id="sidebar">
    <li>
        <a href="#GroupA">Group A</a>
        <ul class="nav nav-stacked">
            <li><a href="#GroupASub1">Sub-Group A 1</a></li>
            <li><a href="#GroupASub2">Sub-Group A 2</a></li>
        </ul>
    </li>
    <li>
        <a href="#GroupB">Group B</a>
        <ul class="nav nav-stacked">
            <li><a href="#GroupBSub1">Sub-Group B 1</a></li>
            <li><a href="#GroupBSub2">Sub-Group B 2</a></li>
        </ul>
    </li>
    <li>
        <a href="#GroupC">Group C</a>
        <ul class="nav nav-stacked">
            <li><a href="#GroupCSub1">Sub-Group C 1</a></li>
            <li><a href="#GroupCSub2">Sub-Group C 2</a></li>
        </ul>
    </li>
</ul>

<div class="container">

    <div class="row">

        <div class="col-xs-9">

            <section id="GroupA" class="content-group">
                <h3>Group A</h3>
                <div id="GroupASub1" class="content-subgroup">
                    <h4>Group A Sub 1</h4>
                </div>
                <div id="GroupASub2" class="content-subgroup">
                    <h4>Group A Sub 2</h4>
                </div>
            </section>


            <section id="GroupB" class="content-group">
                <h3>Group B</h3>
                <div id="GroupBSub1" class="content-subgroup">
                    <h4>Group B Sub 1</h4>
                </div>
                <div id="GroupBSub2" class="content-subgroup">
                    <h4>Group B Sub 2</h4>
                </div>
            </section>

            <section id="GroupC" class="content-group">
                <h3>Group C</h3>
                <div id="GroupCSub1" class="content-subgroup">
                    <h4>Group C Sub 1</h4>
                </div>
                <div id="GroupCSub2" class="content-subgroup">
                    <h4>Group C Sub 2</h4>
                </div>
            </section>

        </div>

    </div>

</div>