<div class="container">

    <div class="row">
        <div id="chart" class="chart" style="width:auto; height: 400px;"></div>
    </div>

    <div class="row text-center">
        <% if(typeof tweets != 'undefined') {
            var c=0;
            for (var i = 0; i < tweets.length; i++) { %>
            <div class="row" id="message">
                <% if(typeof tweets[i+c] !== 'undefined' && tweets[i+c] !== null) { %>
                <div class="col-md-3" align="left"> <%= tweets[i+c] %></div>
                <div class="col-md-3">
                    <% for (var j = 0; j < categories[i+c].length; j++) { %>               
                    <%= categories[i+c][j].category %> : <%= categories[i+c][j].probability %>
                    <p></p>
                    <% } console.log(c); c = c+1; console.log(c);}%>
                </div>
                <% if(typeof tweets[i+c] !== 'undefined' && tweets[i+c] !== null) { %>
                <div id="message">
                    <div class="col-md-3" align="left"> <%= tweets[i+c] %></div>
                    <div class="col-md-3">
                        <% for (var j = 0; j < categories[i+c].length; j++) { %>
                    
                        <%= categories[i+c][j].category %> : <%= categories[i+c][j].probability %>
                        <p></p>
                        <% } }%>
                    </div>
                </div>
            </div>
        <% } } %>
    </div>
</div>

