<div class="jumbotron">
    <div class="container">
        <div id="content-description"><%= description %></div>
    </div>
</div>

<div class="container"> 
    <div class="row">
        <form id="search_form">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Searchword
                    </div>
                    <div class="panel-body">
                        <input id="searchword_field" type="text" size="40" maxlength="40" <% if(typeof searchWord != 'undefined'){ %> value="<%= searchWord %>"<% } %> >
                        <div id="load">
                            <button type="submit" class="btn btn-default">show</button>
                        </div>
                    </div>
                </div>
            </div>
            <% if(typeof availableWords != 'undefined') { %>
            <div class="col-md-4">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        Cached Data
                    </div>
                    <div class="panel-body">
                        <% _.each(availableWords, function(word) { %>
                        <a href="?#live/wordsearch/<%= encodeURIComponent(word) %>" class="btn btn-default" role="button"><%= word %></a>
                        <% }) %>
                    </div>
                </div>


            </div>
            <% } %>
        </form>
    </div>
</div>
