<div class="container">
	<div id="chart" style="width:auto; height: 400px;"></div>
	<div class="row">
		<form id="date_form">
			<div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Unit of Measure
                    </div>
                    <div class="panel-body">
                        <select class="form-control" id="data_type_selector">
							<% if(typeof data_types != 'undefined') { %>
							<% _.each(data_types, function(data_type) { %>
							<option value="<%= data_type %>" <% if (data_type == selectedDataType) { %> selected <% } %>><%= data_type %></option>
							<% }) } %>
						</select>
                    </div>
                </div>
			</div>
		</form>
	</div>
</div>