<div class="container">
	<div id="chart" style="width:auto; height: 400px;"></div>

    <% if(typeof tweetids != 'undefined') { %>
        <button onclick='twitter.createTweets("<%= tweetids %>", "tweet")'>testst</button>
    <% } %>

    <div id="tweet0"></div>
    <div id="tweet1"></div>
    <div id="tweet2"></div>
    <div id="tweet3"></div>
    <div id="tweet4"></div>
    <div id="tweet5"></div>
    <div id="tweet6"></div>
    <div id="tweet7"></div>
    <div id="tweet8"></div>
    <div id="tweet9"></div>
    <div id="tweet10"></div>
</div>