/**
* This is the onepercent css style sheet.
*
* Color Theme:
* - Blue: #40667F
* - White: #FFF
*
* @author Florian Willich
**/

/**
* Body Style (Background etc.)
* @author Florian Willich
**/
html body {
    background-color: #FFFFFF;
    font-family: 'Open Sans', Helvetica, Verdana, sans-serif;
    margin: 0;
    padding-top: 26px;
}

/**
* ========================================================================
* NAVBAR
* ========================================================================
**/
.navbar { 
    border-radius: 0; 
    border-color: #FFF;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar-default {
    color: #40667F;
    font-size: 20px;
    font-style: bold;
    background-image: linear-gradient(to bottom, #FFF 0px, #FFF 100%);
    background-repeat: repeat-x;
}

/**
* Have to set none to override standard shadowing
**/
.navbar-default .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow: none;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 2px;
    min-width: 200px;
    background-color: #426A84;
    border: none;
}

/**
* If dropdown is active
**/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #FFF;
    color: #555;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0px;
    overflow: hidden;
    background-color: #FFF;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857;
    color: #FFF;
    white-space: nowrap;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}

/**
* ========================================================================
* FORM
*
* Affected Components:
* - Navbar Word Search
* ========================================================================
**/
.form-navi-search {
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: #FFF;
    color: #40667F;
    border: 1px solid #40667F;
}

/**
* ========================================================================
* JUMBOTRON
* ========================================================================
**/
.jumbotron {
    margin-top: -25px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*background-color: #40667F;*/
    background-image: linear-gradient(to bottom, #40667F 0px, #5485A6 100%);
    background-repeat: repeat-x;
    color: #FFF;
}

/**
* ========================================================================
* PROGRESS
* ========================================================================
**/
.progress {
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 6px;
}

.progress-bar {
    background-color: #367E7B;
}

.answer_text {
    margin-left: 1em;
    margin-right: 1em;
}

.row {
    margin-right: 1em;
    margin-left: 1em;
}

/**
* ========================================================================
* WELL
* ========================================================================
**/
.well {
    padding: 1em;
    background-color: #F5F5F5;
    margin: 1em;
}

/**
* ========================================================================
* BUTTON
* ========================================================================
**/
.btn {

}

.btn-default {
    margin-top: 1em;
    color: #40667F;
    background-color: #FFF;
    border-color: #CCC;
    border-radius: 0px;
}

.btn-navi {
    margin-top: 1px;
    margin-left: -16px;
    padding-top: 9px;
    color: #FFF;
    background-color: #40667F;
    border-color: #40667F;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #FFF;
    background-color: #40667F;
    border-color: #40667F;
}

.dropdown-toggle.btn-default {
    color: #FFF;
    background-color: #40667F;
    border-color: #ADADAD;
}

.btn-primary {
    color: #40667F;
    background-color: #FFF;
    border-color: #CCC;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #FFF;
    background-color: #40667F;
    border-color: #40667F;
}

.panel-primary > .panel-heading {
    color: #FFF;
    background-color: #40667F;
    border-color: #40667F;
}

.panel-primary {
    border-color: #40667F;
}